<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
    <style>
        .title{
            font-weight:500;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 100px;
            text-align: center;
        }

        .logo{
            color: grey;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %>

    <h1 class="container mt-3 mb-3 title">Welcome to <i class="logo">Blogify</i></h1>

    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
            <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card col" style="width: 18rem;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=blog.title %></h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/script') %>
</body>
</html>